body
{

}
#page
{
margin: auto;
padding: auto;
height: auto;
width: 800px;
border: black solid 2px;
}

#header
{
border-bottom: black solid 2px;
height: 40px;
width: 100%;

}

#content
{
height: 500px;
width: 100%;

}

#footer
{
border-top: black solid 2px;
height: 40px;
width: 100%;

}